.rcButton {
  margin: 5px;
  height: 50px;
  width: 200px;
  border: none;
  display: flex;
  color: black;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  justify-content: center;
  background-color: rgba(139, 113, 63, 0.637);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.rcButton:hover {
  /* border: .01px solid rgba(0, 0, 0, 0.616); */
  color: white;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.849);
}

.favic {
  display: flex;
}
.favicF {
  fill: red;
}
