.profileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    /* height: 10   0vh; */
    padding: 100px  ;
}