.formContainer{
    /* justify-content: center  ; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s linear;
    

}

.emaillable{
    position: relative;
    top: 30px;
    /* left: 4px; */
    /* background-color: white; */
    /* margin-left: 10px; */
    padding: 4px;
    color: darkgray;
    transition: .5s;
    border-radius: 5px;
    letter-spacing: 2px;
}

.emailInput, .passInput{
    letter-spacing: 2px;
    width: 280px;
    max-width: 50vw  ;
    min-width: 250px;
    height: 30px;
    margin: 5px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    outline-style:hidden;
    border: 1px solid rgba(73, 35, 0, 0.295);
}

.emailInput:focus, .passInput:focus{
    outline-color: rgba(243, 163, 16, 0.938);
    border: none;
}
.emailWarr{
    font-size: 12px;
    padding-left: 20px;
    color: rgb(228, 27, 0)
    
}

@media screen and (max-width: 765px) {
    .formContainer{
    transition: 1s linear;
    scale: .9;
    }

    
    
}