.homeContainer{
    height: 100vh;
    /* width: 100vw; */
    padding: 100px;
    font-size: xx-large;
}

.homeContainer>h1{
    padding: 80px;
    color: rgba(255, 255, 255, 0.932);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family:cursive;
    letter-spacing: 10px;
    mix-blend-mode:difference;
}
.homelink{
    color: rgba(255, 153, 0, 0.8);
    text-decoration: none;
    
}
.homelink:hover{
    color: rgba(255, 153, 0, 0.445);
    scale: 1.2;
    transition: 2s;
}

@media screen and (max-width: 765px) {

    .homeContainer{
        height: fit-content;
        /* width: 100vw; */
        padding: 50px;
        font-size: xx-large;
    }
}