.cardContainer0 {
  /* z-index: 9?; */
  margin: 10px;
  width: 204px;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}
.cardContainer0:hover {
  scale: 1.02;
  transition: 1s;
  cursor: pointer;
  border: 2px solid rgb(255, 166, 0);
}
.cardContainer {
  display: flex;
  height: 350px;
  width: fit-content;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(151, 151, 150, 0.801);
}

.pImg {
  width: 200px;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pCat {
  font-size: large;
  font-weight: lighter;
  letter-spacing: 0.8px;
  padding: 15px 0 0 15px;
  font-variant: small-caps;
  color: rgba(92, 92, 92, 0.76);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.pName {
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* padding: 5px;
    padding: 15px; */
}

.pPrice {
  /* font-family:Georgia, 'Times New Roman', Times, serif; */
  padding: 15px;
  font-size: 10px;
}

.cardFooter {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.rate {
  width: 50px;
  position: absolute;
  border-radius: 3px;
  background-color: rgb(223, 145, 28);
}
