.cardDetailsContainer {
  display: flex;
  height: 100vh;
  color: white;
  flex-wrap: wrap;
  padding-top: 90px;
  justify-content: space-evenly;
}
.cardDetailstextContainer {
  order: 2;
  height: 80vh;
  padding: 20px;
  display: flex;
  margin-top: 0px;
  border-radius: 32px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgba(77, 77, 77, 0.537);
}

.cardDetailstextContainer > p {
  width: 50vw;
  text-align: left;
  font-size: large;
  letter-spacing: 1px;
}

.CardDetailsFavIc {
  fill: white;
  cursor: pointer;
}

.sideImge {
  scale: 1.05;
  height: 80vh;
  display: flex;
  border-radius: 32px;
  justify-content: flex-start;
  box-shadow: 0 20px 20px black;
}
.sideImge:hover {
  scale: 1.07;
  transition: 0.6s;
}
.moviePage {
  width: 200px;
  height: 27px;
  font-size: 20px;
  color: aliceblue;
  border-radius: 32px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.877);
}
.moviePage:hover {
  color: black;
  background-color: rgba(240, 255, 255, 0.815);
}
.sideImgeContainer {
  order: 1;
}

@media screen and (max-width: 765px) {
  .cardDetailsContainer {
    align-items: center;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
  }

  .sideImgeContainer {
    order: 1;
  }

  .cardDetailstextContainer {
    height: 80vh;
    margin-top: -10px;
    padding-top: 30px;
    padding-left: 20px;
    align-items: center;
    margin-bottom: 20px;
  }

  .cardDetailstextContainer > p {
    width: 80vw;
    font-size: large;
    text-align: center;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 400px) {
  .sideImge {
    scale: 0.9;
  }
}
