.navBar {
  top: 0;
  z-index: 9;
  width: 100vw;
  display: grid;
  position: fixed;
  align-items: center;
  justify-items: space-around;
  grid-template-columns: 2fr 8fr 1fr 1fr;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-blend-mode: overlay;
  padding: 0 25px 0 15px ;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

.nav {
  height: 5px;
  display: flex;
  transition: 1s;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navLink {
  height: 40px;
  width: 150px;
  padding: 15px;
  margin: 5px;
  display: flex;
  font: black;
  font-size: 10px;
  transition: 0.5s linear;
  flex-direction: row;
  border-radius: 10px;
  justify-content: center;
}

.navLink:hover {
  transition: 0.8s;
  background-color: rgba(56, 56, 56, 0.575) !important;
}
/* .navIcons{
  fill: black !important;
  margin: 10px !important
} */
.navLink > span {
  display: flex;
  color: black;
  font-size: 25px;
  align-items: center;
  font-family: fantasy;
  font-family: monospace;
}
.lang {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.avilableLang {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.displayed {
  visibility: visible;
  opacity: 1;
  top: 60px;
  width: 80px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: center;
  font-family: cursive;
  list-style-type: none;
  flex-direction: column;
  backdrop-filter: blur(20px);
  color: rgba(255, 255, 255);
  justify-content: space-evenly;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.37);
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0),
    rgba(255, 255, 255, 0.096)
  );
}
.displayed > li {
  width: 70%;
  border-radius: 10px;
}
.displayed > li:hover {
  scale: 1.5;
  cursor: pointer;
  transition: 0.3s;
}
.more {
  display: none;
}

@media screen and (max-width: 765px) {
  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .navLink {
    width: 28vw;
    transition: 0.5s linear;
  }

  .resNavSide {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
  }

  .resNavSide {
    /* z-index: 100; */
    top: 60px;
    width: 40vw;
    height: 80vh;
    display: flex;
    transition: 2s;
    /* color: white; */
    position: absolute;
    border-radius: 15px;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: space-evenly;
    /* background-color: rgba(0, 0, 0, 0.911); */
  }
  .more {
    fill: rgb(207, 76, 0);
    margin: 0 20px;
    width: 40px;
    border: none;
    height: 40px;
    display: block;
    border-radius: 20px;
    background-color: transparent;
  }

  .more:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.726);
  }
}
@media screen and (max-width: 385px) {
  .more{
    margin: 0;
  }
  .lang{
    display: none;
  }

}