.navBar {
  top: 0;
  z-index: 9;
  width: 100vw;
  display: grid;
  position: fixed;
  align-items: center;
  justify-items: space-around;
  grid-template-columns: 2fr 8fr 2fr ;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  z-index: 9;

}

.nav {
  height: 5px;
  width: 70vw;
  display: flex;
  transition: 1s;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navLink {
  height: 40px;
  width: 150px;
  padding: 15px;
  margin: 5px;
  display: flex;
  font: black;
  font-size: 10px;
  transition: .5s linear;
  flex-direction: row;
  border-radius: 10px;
  justify-content: center;
}

.navLink:hover {
  transition: 0.8s;
  background-color: rgba(114, 113, 113, 0.4) !important;
}

.navLink > span {
  display: flex;
  color: black;
  font-size: 25px;
  align-items: center;
  font-family: fantasy;
  font-family: monospace;
}

.more {
  display: none;
}

@media screen and (max-width: 765px) {
  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .navLink {
    width: 28vw;
  transition: .5s linear;

  }
  .resNavSide {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;

  }

  .resNavSide {
    top: 60px;
    width: 40vw;
    height: 80vh;
    display: flex;
    color: black;
    position: absolute;
    border-radius: 15px;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: space-evenly;
    /* background-color: rgba(0, 0, 0, 0.911); */
  }
  .navLink>span{
    color: black !important;
  }
 
  .more {
    margin-right: 20px;
    width: 40px;
    border: none;
    height: 40px;
    display: block;
    border-radius: 20px;
    background-color: transparent;
  }

  .more:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.726);
  }
}
