.navBar {
  top: 0;
  z-index: 9;
  width: 100vw;
  display: grid;
  position: fixed;
  align-items: center;
  justify-items: space-around;
  grid-template-columns: 1fr 8fr 0.5fr 0.5fr;
  background-color: rgba(45, 119, 119, 0.979);
  padding-right: 10px;
}

.nav {
  height: 5px;
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navLink {
  height: 40px;
  width: 150px;
  padding: 15px;
  display: flex;
  font: black;
  font-size: 10px;
  transition: 0.5s;
  flex-direction: row;
  border-radius: 10px;
  justify-content: center;
}

.navLink:hover {
  background-color: rgba(0, 0, 0, 0.911);
  transition: 0.8s;
}

.navLink > span {
  font-family: fantasy;
  display: flex;
  align-items: center;
  color: black;
  font-size: 25px;
  font-family: monospace;
}

.more {
  display: none;
}

@media screen and (max-width: 765px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    display: none;
  }

  .navLink {
    width: 29vw;
  }
  
  .resNavSide {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top: 60px;
    width: 30vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.911);
    color: black;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .more {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
  }

  .more:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.726);
    transition: 0.3s ease-in-out;
  }
  
}
